{% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - collapse_on_larger_devices: {Boolean} Collapse filtering/sorting into menu on larger devices when true

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
{% endcomment %}

{% liquid
  if results.results_count
    assign results_count_total = results.results_count
    if result_total_hide_product
      assign results_count_total = results_count_total | minus: result_total_hide_product
    endif
  endif
%}

{%- liquid
	assign sort_by = results.sort_by | default: results.default_sort_by
	assign total_active_values = 0
	if results.url
	  assign results_url = results.url
	else
	  assign terms = results.terms | escape
	  assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
	endif
  -%}

  <div class="facets-container">
	{%- unless collapse_on_larger_devices -%}
	  <facet-filters-form class="facets">
		<form id="FacetFiltersForm" class="facets__form">
			<div class="facets__mobile-sort-refine-container">
				<div id="mobileRefineBy" class="mobile-refine-by">
					<span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                          <g clip-path="url(#clip0_2597_27330)">
                            <path d="M0.375 2.27458H6.08449C6.25657 3.05784 6.95604 3.64586 7.79023 3.64586C8.62441 3.64586 9.32388 3.05786 9.49596 2.27458H11.625C11.8321 2.27458 12 2.10667 12 1.89958C12 1.69248 11.8321 1.52458 11.625 1.52458H9.49577C9.32337 0.741719 8.62294 0.15332 7.79023 0.15332C6.95707 0.15332 6.25697 0.741625 6.08463 1.52458H0.375C0.167906 1.52458 0 1.69248 0 1.89958C0 2.10667 0.167906 2.27458 0.375 2.27458ZM6.79399 1.90056C6.79399 1.89923 6.79402 1.89787 6.79402 1.89653C6.79566 1.34887 7.24254 0.903344 7.79023 0.903344C8.33714 0.903344 8.78405 1.34826 8.78641 1.89566L8.78648 1.90117C8.78562 2.44977 8.33904 2.89588 7.79023 2.89588C7.24165 2.89588 6.79521 2.45022 6.79397 1.90195L6.79399 1.90056ZM11.625 10.0437H9.49577C9.32334 9.26083 8.62294 8.67241 7.79023 8.67241C6.95707 8.67241 6.25697 9.26073 6.08463 10.0437H0.375C0.167906 10.0437 0 10.2115 0 10.4187C0 10.6258 0.167906 10.7937 0.375 10.7937H6.08449C6.25657 11.5769 6.95604 12.1649 7.79023 12.1649C8.62441 12.1649 9.32388 11.5769 9.49596 10.7937H11.625C11.8321 10.7937 12 10.6258 12 10.4187C12 10.2115 11.8321 10.0437 11.625 10.0437ZM7.79023 11.4149C7.24165 11.4149 6.79521 10.9693 6.79397 10.421L6.79399 10.4196C6.79399 10.4183 6.79402 10.417 6.79402 10.4156C6.79566 9.86795 7.24254 9.42241 7.79023 9.42241C8.33714 9.42241 8.78405 9.86732 8.78641 10.4147L8.78648 10.4202C8.78569 10.9689 8.33909 11.4149 7.79023 11.4149ZM11.625 5.78413H5.91551C5.74343 5.00087 5.04396 4.41288 4.20977 4.41288C3.37559 4.41288 2.67612 5.00087 2.50404 5.78413H0.375C0.167906 5.78413 0 5.95204 0 6.15913C0 6.36625 0.167906 6.53413 0.375 6.53413H2.50423C2.67666 7.31697 3.37706 7.90539 4.20977 7.90539C5.04293 7.90539 5.74303 7.31706 5.91537 6.53413H11.625C11.8321 6.53413 12 6.36625 12 6.15913C12 5.95204 11.8321 5.78413 11.625 5.78413ZM5.20601 6.15815C5.20601 6.15951 5.20598 6.16084 5.20598 6.16218C5.20434 6.70984 4.75746 7.15537 4.20977 7.15537C3.66286 7.15537 3.21595 6.71045 3.21359 6.16307L3.21352 6.15759C3.21434 5.60891 3.66094 5.16288 4.20977 5.16288C4.75835 5.16288 5.20479 5.60852 5.20603 6.15681L5.20601 6.15815Z" fill="#1B2C3D"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_2597_27330">
                              <rect width="12" height="12" fill="white" transform="translate(0 0.15918)"/>
                            </clipPath>
                          </defs>
                        </svg>
						Refine
					</span>
				</div>
                <div id="desktopfilter" class="desktop-filter">
					<span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                          <g clip-path="url(#clip0_2597_26845)">
                            <path d="M0.375 2.27458H6.08449C6.25657 3.05784 6.95604 3.64586 7.79023 3.64586C8.62441 3.64586 9.32388 3.05786 9.49596 2.27458H11.625C11.8321 2.27458 12 2.10667 12 1.89958C12 1.69248 11.8321 1.52458 11.625 1.52458H9.49577C9.32337 0.741719 8.62294 0.15332 7.79023 0.15332C6.95707 0.15332 6.25697 0.741625 6.08463 1.52458H0.375C0.167906 1.52458 0 1.69248 0 1.89958C0 2.10667 0.167906 2.27458 0.375 2.27458ZM6.79399 1.90056C6.79399 1.89923 6.79402 1.89787 6.79402 1.89653C6.79566 1.34887 7.24254 0.903344 7.79023 0.903344C8.33714 0.903344 8.78405 1.34826 8.78641 1.89566L8.78648 1.90117C8.78562 2.44977 8.33904 2.89588 7.79023 2.89588C7.24165 2.89588 6.79521 2.45022 6.79397 1.90195L6.79399 1.90056ZM11.625 10.0437H9.49577C9.32334 9.26083 8.62294 8.67241 7.79023 8.67241C6.95707 8.67241 6.25697 9.26073 6.08463 10.0437H0.375C0.167906 10.0437 0 10.2115 0 10.4187C0 10.6258 0.167906 10.7937 0.375 10.7937H6.08449C6.25657 11.5769 6.95604 12.1649 7.79023 12.1649C8.62441 12.1649 9.32388 11.5769 9.49596 10.7937H11.625C11.8321 10.7937 12 10.6258 12 10.4187C12 10.2115 11.8321 10.0437 11.625 10.0437ZM7.79023 11.4149C7.24165 11.4149 6.79521 10.9693 6.79397 10.421L6.79399 10.4196C6.79399 10.4183 6.79402 10.417 6.79402 10.4156C6.79566 9.86795 7.24254 9.42241 7.79023 9.42241C8.33714 9.42241 8.78405 9.86732 8.78641 10.4147L8.78648 10.4202C8.78569 10.9689 8.33909 11.4149 7.79023 11.4149ZM11.625 5.78413H5.91551C5.74343 5.00087 5.04396 4.41288 4.20977 4.41288C3.37559 4.41288 2.67612 5.00087 2.50404 5.78413H0.375C0.167906 5.78413 0 5.95204 0 6.15913C0 6.36625 0.167906 6.53413 0.375 6.53413H2.50423C2.67666 7.31697 3.37706 7.90539 4.20977 7.90539C5.04293 7.90539 5.74303 7.31706 5.91537 6.53413H11.625C11.8321 6.53413 12 6.36625 12 6.15913C12 5.95204 11.8321 5.78413 11.625 5.78413ZM5.20601 6.15815C5.20601 6.15951 5.20598 6.16084 5.20598 6.16218C5.20434 6.70984 4.75746 7.15537 4.20977 7.15537C3.66286 7.15537 3.21595 6.71045 3.21359 6.16307L3.21352 6.15759C3.21434 5.60891 3.66094 5.16288 4.20977 5.16288C4.75835 5.16288 5.20479 5.60852 5.20603 6.15681L5.20601 6.15815Z" fill="#1B2C3D"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_2597_26845">
                              <rect width="12" height="12" fill="white" transform="translate(0 0.15918)"/>
                            </clipPath>
                          </defs>
                        </svg>
						Filter
                        <p>{{ results.filters.size }}</p>
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                          <g clip-path="url(#clip0_2597_26851)">
                            <path d="M4.64335 7.44019C4.83767 7.63452 5.16233 7.63452 5.35715 7.44019L9.85239 2.95646C10.0492 2.75965 10.0492 2.44047 9.85239 2.24415C9.65557 2.04733 9.33589 2.04733 9.13908 2.24415L5.00002 6.3717L0.861462 2.24365C0.664148 2.04683 0.344967 2.04683 0.147654 2.24365C-0.0491619 2.44046 -0.0491619 2.75965 0.147654 2.95596L4.64335 7.44019Z" fill="#1B2C3D"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_2597_26851">
                              <rect width="10" height="10" fill="white" transform="translate(0 0.15918)"/>
                            </clipPath>
                          </defs>
                        </svg>
					</span>
				</div>
				{%- if enable_sorting -%}
					<div class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
						<div class="mobile-facets__summary">
							<div class="mobile-facets__sort">
                              <div class="products-count">
                                {%- if results.results_count -%}
                        			{{ 'templates.search.results_with_count' | t: terms: results.terms, count: results_count_total }}
                        		{%- elsif results.products_count == results.all_products_count -%}
                        			{{ 'products.facets.product_count_simple' | t: count: results.products_count }} found
                        		{%- else -%}
                        			{{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
                        		{%- endif -%}
                              </div>
                              <div class="select">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                    <path d="M1.15191 10.4297C0.953672 10.6221 0.948789 10.9385 1.14117 11.1367L3.06402 13.1187C3.06415 13.1188 3.06433 13.1188 3.06445 13.119C3.15533 13.213 3.28161 13.2725 3.42291 13.2725C3.56421 13.2725 3.69049 13.213 3.78137 13.119C3.78149 13.1188 3.78167 13.1188 3.7818 13.1187L5.70514 11.1367C5.89752 10.9385 5.89264 10.6221 5.69439 10.4297C5.49615 10.2373 5.17975 10.2422 4.98736 10.4404L3.92291 11.5374V3.5459C3.92291 3.26953 3.69928 3.0459 3.42291 3.0459C3.14654 3.0459 2.92291 3.26953 2.92291 3.5459V11.5373L1.85895 10.4404C1.66656 10.2422 1.35016 10.2373 1.15191 10.4297Z" fill="#1B2C3D"></path>
                                    <path d="M13.4395 6.62061C13.4395 6.34424 13.2158 6.12061 12.9395 6.12061H7.51367C7.2373 6.12061 7.01367 6.34424 7.01367 6.62061C7.01367 6.89697 7.2373 7.12061 7.51367 7.12061H12.9395C13.2158 7.12061 13.4395 6.89697 13.4395 6.62061Z" fill="#1B2C3D"></path>
                                    <path d="M11.8794 9.6958C11.8794 9.41943 11.6558 9.1958 11.3794 9.1958H7.51367C7.2373 9.1958 7.01367 9.41943 7.01367 9.6958C7.01367 9.97217 7.2373 10.1958 7.51367 10.1958H11.3794C11.6558 10.1958 11.8794 9.97217 11.8794 9.6958Z" fill="#1B2C3D"></path>
                                    <path d="M7.51367 12.2725C7.2373 12.2725 7.01367 12.4961 7.01367 12.7725C7.01367 13.0488 7.2373 13.2725 7.51367 13.2725H9.81934C10.0957 13.2725 10.3193 13.0488 10.3193 12.7725C10.3193 12.4961 10.0957 12.2725 9.81934 12.2725H7.51367Z" fill="#1B2C3D"></path>
                                    <path d="M14.4995 3.0459H7.51367C7.2373 3.0459 7.01367 3.26953 7.01367 3.5459C7.01367 3.82227 7.2373 4.0459 7.51367 4.0459H14.4995C14.7759 4.0459 14.9995 3.82227 14.9995 3.5459C14.9995 3.26953 14.7759 3.0459 14.4995 3.0459Z" fill="#1B2C3D"></path>
                                  </svg>
                                  <select name="sort_by" class="select__select" id="SortBy-mobile" aria-label="Sort By" aria-describedby="a11y-refresh-page-message">
                                  {%- for option in results.sort_options -%}
                                      {%- unless option.name contains "Price" -%}
                                          <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                      {%- endunless -%}
                                  {%- endfor -%}
                                  </select>
                              </div>
							</div>
						</div>
					</div>
				{%- endif -%}
			</div>
		  {%- if results.terms -%}
			<input type="hidden" name="q" value="{{ results.terms | escape }}">
			<input name="options[prefix]" type="hidden" value="last">
		  {%- endif -%}

		  {% if enable_filtering %}
			<div id="FacetsWrapperDesktop" class="facets__wrapper facets__mobile-none">
              <span class="filter-close-mobile"></span>
              <p class="mobile-filter-heading">Filter By</p>
			  {%- for filter in results.filters -%}
				{%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
				{% case filter.type %}
				{% when 'list' %}
					<div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets-element js-filter" data-index="{{ forloop.index }}">
					  <div class="facets__header">
						<span class="facets__header-title">
							{%- if filter.label == "Brand" -%}
								{{ 'products.facets.brands' | t }}
							{%- else -%}
								{{ filter.label }}
							{%- endif -%}
						</span>
					  </div>
					  <ul class="facets__list list-unstyled" role="list">
						{%- for value in filter.values -%}
              {% unless value.param_name == 'filter.p.product_type' and value.value == 'Product Sample Item' %}
                <li class="list-menu__item facets__item">
                <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                  <input type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                  data-filter-label="{{ value.label }}"
                  {% if value.active %}checked{% endif %}
                  {% if value.count == 0 and value.active == false %}disabled{% endif %}
                  >
                  <span>
                    {% assign value_count = value.count %}
                    {% if value.param_name == 'filter.v.availability' and result_total_hide_product %}
                      {% assign value_count = value_count | minus: result_total_hide_product %}
                      {% if value_count < 0 %}
                        {% assign value_count = 0 %}
                      {% endif %}
                    {% endif %}
                    {{ value.label | escape }} ({{ value_count }})
                  </span>
                </label>
                </li>
              {% endunless %}
						{%- endfor -%}
					  </ul>
					</div>
				{% when 'price_range' %}
				  {% liquid
					assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
					assign uses_comma_decimals = false
					if currencies_using_comma_decimals contains cart.currency.iso_code
					  assign uses_comma_decimals = true
					endif
				  %}

					<div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display-price facets-element js-filter" data-index="{{ forloop.index }}">
					  <div class="facets__header">
						{%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
						<span class="facets__header-title">{{ filter.label | escape }}</span>
					  </div>
					  <price-range class="facets__price">
						<div class="price-inputs">
							<span class="field-currency">{{ cart.currency.symbol }}</span>
							<div class="field">
							<input class="field__input"
								name="{{ filter.min_value.param_name }}"
								id="Filter-{{ filter.label | escape }}-GTE"
								{%- if filter.min_value.value -%}
								{%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
								{%- endif -%}
								type="number"
								placeholder="0"
								min="0"
								{%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
							>
							</div>
							<span class="field-currency">{{ cart.currency.symbol }}</span>
							<div class="field">
							<input class="field__input"
								name="{{ filter.max_value.param_name }}"
								id="Filter-{{ filter.label | escape }}-LTE"
								{%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
								{%- endif -%}
								type="number"
								min="0"
								{%- if uses_comma_decimals -%}
								placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
								max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
								{%- else -%}
								placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
								max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
								{% endif %}
							>
							</div>
						</div>
						{% comment %}
							<div class="facet-multi-range-container">
								<span class="facet-multi-range">
									<input
										type="range"
										min="0"
										max="{{ filter.max_value.value }}"
										value="{{ filter.min_value.value }}"
										id="lower"
									>
									<input
										type="range"
										min="0"
										max="{{ filter.max_value.value }}"
										value="{{ filter.max_value.value }}"
										id="upper"
									>
								</span>
							</div>
						{% endcomment %}
					  </price-range>
					</div>
				{% endcase %}
			  {%- endfor -%}
              
              {%- assign ColHandle = collection.handle -%}
              {%- assign meDo = linklists[ColHandle].links -%}
              {% if meDo != blank %}
              <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets-element js-filter" data-index="{{ forloop.index }}">
					  <div class="facets__header">
						<span class="facets__header-title">
							Filter by Collection
						</span>
					  </div>
					  <ul class="facets__list list-unstyled" role="list">
						{%- for link in meDo -%}
              
                          <li class="list-menu__item facets__item">
                             <a href="{{ link.url }}" class="facet-checkbox" title="{{ link.title }}"><span>{{ link.title }}</span></a>
                          </li>
              
						{%- endfor -%}
					  </ul>
					</div>
              {% endif %}
			  <noscript>
				<button type="submit" class="facets__button-no-js button button--tertiary">{{ 'products.facets.filter_button' | t }}</button>
			  </noscript>
			</div>
		  {% endif %}

		  {% if results.current_vendor or results.current_type %}
			<input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
		  {% endif %}
		</form>
	  </facet-filters-form>
	{%- endunless -%}

	<div class="active-facets active-facets-none active-facets-mobile {% unless collapse_on_larger_devices %} medium-hide large-up-hide{% endunless %}">
	  {%- for filter in results.filters -%}
		{%- for value in filter.active_values -%}
		  <facet-remove>
			<a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
			  <span id="removeFilterMobile-{{ value.label }}" class="collection-new-filter">
				{{ value.label | escape }}
				{% render 'icon-close-small' %}
			  </span>
			</a>
		  </facet-remove>
		{%- endfor -%}

		{%- if filter.type == "price_range" -%}
		  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
			<facet-remove>
			  <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
				<span id="priceRemoveFilterMobile" class="collection-new-filter">
				  {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
				  {% render 'icon-close-small' %}
				</span>
			  </a>
			</facet-remove>
		  {%- endif -%}
		{%- endif -%}
	  {%- endfor -%}
	  {% comment %}
		<facet-remove class="active-facets__button-wrapper">
			<a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
			<span>{{ 'products.facets.clear_all' | t }}</span>
			</a>
		</facet-remove>
	  {% endcomment %}
	</div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $("#mobileRefineBy").click(function() {
        $("#FacetsWrapperDesktop").toggleClass("facets__mobile-none");
      });
      $(".filter-close-mobile").click(function() {
        $("#FacetsWrapperDesktop").toggleClass("facets__mobile-none");
      });
      $("#desktopfilter").click(function() {
        $(this).toggleClass("active");
        $(this).parent(".facets__mobile-sort-refine-container").parent(".facets__form").find(".facets__wrapper").toggleClass("active");
      });
    });
  </script>
