<div class="site-usp-banner">
    <div class="site-wrap">
        <ul class="site-usp-banner__wrap" id="usp-carousel">
            <li class="site-usp-banner__slide is-active">
                <a class="site-usp-banner__link" rel="nofollow" href="/pages/free-delivery">
                    <span class="site-usp-banner__icon">
                        {% include 'icon-delivery' %}
                    </span>
                    <span class="site-usp-banner__icon-text">
                        {{ usp_one }}
                    </span>
                </a>
            </li>
            <li class="site-usp-banner__slide">
                <a class="site-usp-banner__link" rel="nofollow" href="/pages/free-samples">
                    <span class="site-usp-banner__icon">
                        {% include 'icon-samples' %}
                    </span>
                    <span class="site-usp-banner__icon-text">
                        {{ usp_two }}
                    </span>
                </a>
            </li>
            <li class="site-usp-banner__slide">
                <a class="site-usp-banner__link" rel="nofollow" href="/pages/returns">
                    <span class="site-usp-banner__icon">
                        {% include 'icon-returns' %}
                    </span>
                    <span class="site-usp-banner__icon-text">
                        {{ usp_three }}
                    </span>
                </a>
            </li>
            <li class="site-usp-banner__slide">
                <a class="site-usp-banner__link" rel="nofollow" href="/pages/up-to-65-off-rrp">
                    <span class="site-usp-banner__icon">
                        {% include 'icon-savings' %}
                    </span>
                    <span class="site-usp-banner__icon-text">
                        {{ usp_four }}
                    </span>
                </a>
            </li>
            <li class="site-usp-banner__slide">
                <a class="site-usp-banner__link" rel="nofollow" href="/pages/unbeatable-prices">
                    <span class="site-usp-banner__icon">
                        {% include 'icon-guarantee' %}
                    </span>
                    <span class="site-usp-banner__icon-text">
                        {{ usp_five }}
                    </span>
                </a>
            </li>
        </ul>
        <div class="site-usp-banner__indicators" id="usp-carousel-dots">
            <span class="site-usp-banner__indicator is-active"></span>
            <span class="site-usp-banner__indicator"></span>
            <span class="site-usp-banner__indicator"></span>
            <span class="site-usp-banner__indicator"></span>
            <span class="site-usp-banner__indicator"></span>
        </div>
    </div>
</div>
