{% if section.settings.show_banner %}
    {% assign can_show_banner = true %}
    {% if request.page_type == 'index' %}
        {% unless section.settings.show_banner_on_home %}
            {% assign can_show_banner = false %}
        {% endunless %}
    {% endif %}
{% else %}
    {% assign can_show_banner = false %}
{% endif %}

{% if can_show_banner %}
    {% if request.design_mode %}
        {% render 'countdown-banner-validator' %}
    {% endif %}

    {% assign current_timestamp = 'now' | date: '%s' | plus: 0 %}
    {% assign start_timestamp = section.settings.start_date
            | append: ' ' | append: section.settings.start_time | date: '%s' | plus: 0 %}

    {% assign end_timestamp = section.settings.end_date
            | append: ' ' | append: section.settings.end_time | date: '%s' | plus: 0 %}

    {% if current_timestamp >= start_timestamp and current_timestamp < end_timestamp %}
        {% assign seconds_left = end_timestamp | minus: current_timestamp %}

        {% assign timerDays = seconds_left | divided_by: 86400 %}
        {% assign seconds_left = seconds_left | modulo: 86400 %}
        {% assign timerHours = seconds_left | divided_by: 3600 %}
        {% assign seconds_left = seconds_left | modulo: 3600 %}
        {% assign timerMinutes = seconds_left | divided_by: 60 %}
        {% assign timerSeconds = seconds_left | modulo: 60 %}

        <style>
            #shopify-section-site-usp-banner {
                display: none;
            }
            .countdown-banner {
                background: {{ section.settings.banner_bg_color }};
                position: relative;
            }
            .countdown-banner__item {
                color: {{ section.settings.banner_text_color }};
            }
            .countdown-banner__item--coupon-code .countdown-banner__item-bottom {
                background: {{ section.settings.banner_text_color }};
                color: {{ section.settings.banner_bg_color }};
            }
            .countdown-banner .timer-item--value {
                background: {{ section.settings.banner_text_color }};
                color: {{ section.settings.banner_bg_color }};
            }
        </style>
        <div id="countdown-banner" class="site-wrap site-wrap--max countdown-banner">
            <a class="countdown-banner__link" href="{{ section.settings.banner_link }}">
                <div class="countdown-banner__inner">
                    <div class="countdown-banner__item countdown-banner__item--sale-up">
                        {{ section.settings.banner_sale_html }}
                    </div>
                    <div class="countdown-banner__item countdown-banner__item--coupon-code">
                        {{ section.settings.banner_coupon_html }}
                    </div>
                    <div class="countdown-banner__item countdown-banner__item--timer">
                        <div class="countdown-banner__item-top">
                            <h4>Offers End</h4>
                        </div>
                        <div class="countdown-banner__item-bottom">
                            {% render 'countdown-banner-timer',
                                id: 'countdown-banner__timer',
                                timerDays: timerDays,
                                timerHours: timerHours,
                                timerMinutes: timerMinutes,
                                timerSeconds: timerSeconds,
                                end_timestamp: end_timestamp
                            %}
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                var countdownTimer = new CountdownTimer('#countdown-banner__timer', {
                                    endTimestamp: "{{ end_timestamp | date: '%Y-%m-%dT%H:%M:%S' }}",
                                    timezone: "{{ end_timestamp | date: '%z' }}",
                                    onFinish: () => {
                                        var countdownBanner = document.querySelector('#countdown-banner');
                                        if(countdownBanner) {
                                            countdownBanner.classList.add('time-ended');
                                        }
                                    }
                                });

                                countdownTimer.startCountdown();
                            });
                        </script>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endif %}


{% schema %}
{
    "name": "Countdown Sale Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_banner",
            "label": "Show Countdown Sale Banner",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_banner_on_home",
            "label": "Show Countdown Sale Banner on Home Page",
            "default": true
        },
        {
            "type": "url",
            "id": "banner_link",
            "label": "Banner Link"
        },
        {
            "type": "html",
            "id": "banner_sale_html",
            "label": "Banner Sale HTML",
            "info": "HTML allowed"
        },
        {
            "type": "html",
            "id": "banner_coupon_html",
            "label": "Banner Coupon HTML",
            "info": "HTML allowed"
        },
        {
            "type": "color",
            "id": "banner_bg_color",
            "label": "Banner Background Color",
            "default": "#A6383E"
        },
        {
            "type": "color",
            "id": "banner_text_color",
            "label": "Banner Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "text",
            "id": "start_date",
            "label": "Start Date",
            "info": "Format Y-m-d, for example: 2024-03-01",
            "default": "2024-01-01"
        },
        {
            "type": "text",
            "id": "start_time",
            "label": "Start Time",
            "info": "Format H:M, for example: 08:00",
            "default": "00:00"
        },
        {
            "type": "text",
            "id": "end_date",
            "label": "End Date",
            "info": "Format Y-m-d, for example: 2024-03-06",
            "default": "2024-01-01"
        },
        {
            "type": "text",
            "id": "end_time",
            "label": "End Time",
            "info": "Format H:M, for example: 23:00",
            "default": "00:00"
        }
    ]
}
{% endschema %}