{% schema %}
    {
        "name": "Footer",
        "class": "footer",
        "settings": [
            {
                "type": "image_picker",
                "id": "shape",
                "label": "Footer Shape"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Footer Logo"
            },
            {
                "type": "text",
                "id": "menu_title",
                "label": "Footer Menu Title"
            },
            {
                "type": "link_list",
                "id": "main_menu",
                "label": "Footer Main Menu"
            },
            {
                "type": "text",
                "id": "social_heading",
                "label": "Social Links Heading"
            },
            {
                "type": "text",
                "id": "policies_heading",
                "label": "Footer Policies Menu Title"
            },
            {
                "type": "link_list",
                "id": "policies_menu",
                "label": "Footer Policies Menu"
            },
            {
                "type": "text",
                "id": "instagram_link",
                "label": "Instagram link"
            },
            {
                "type": "text",
                "id": "facebook_link",
                "label": "Facebook link"
            },
            {
                "type": "text",
                "id": "twitter_link",
                "label": "Twitter link"
            },
            {
                "type": "text",
                "id": "linkedin_link",
                "label": "LinkedIn link"
            },
            {
                "type": "text",
                "id": "pinterest_link",
                "label": "Pinterest link"
            },
            {
                "type": "text",
                "id": "tiktok_link",
                "label": "Tiktok link"
            },
            {
                "type": "text",
                "id": "youtube_link",
                "label": "Youtube link"
            },
            {
                "id": "copyright_text",
                "type": "text",
                "label": "Copyright Text"
            },
            {
                "type": "text",
                "id": "newsletter_title",
                "label": "Newsletter Heading"
            },
            {
                "type": "text",
                "id": "newsletter_content",
                "label": "Newsletter Content"
            },
            {
                "type": "richtext",
                "id": "newsletter_privacy",
                "label": "Newsletter Privacy Text"
            },
        ]
    }
{% endschema %}

<footer class="site-footer">
    <img class="shape" width="171" height="157" loading="lazy" src="{{ section.settings.shape | img_url: "master" }}" alt="{{ section.settings.shape.alt }}">
    <div class="site-wrap site-wrap--footer">
        <div class="site-footer__top">
            <div class="footer__logo">
                <img width="112" height="43" loading="lazy" src="{{ section.settings.logo | img_url: "master" }}" alt="{{ section.settings.shape.logo }}">
            </div>
            <div class="site-footer__nav">
                <h3>{{ section.settings.menu_title }}</h3>
                <!-- {% include 'site-footer-navigation' %} -->
                <nav class="site-footer-navigation" id="site-footer-navigation" arial-label="Footer navigation">
                  <ul class="site-footer-navigation__ul">
                    {%- for link in section.settings.main_menu.links -%}
                      <li class="site-footer-navigation__li{% if link.active %} site-footer-navigation__li--active{% endif %}{% if link.links != blank %} site-footer-navigation__li--has-sub{% endif %}">
                        <a href="{{ link.url }}" class="site-footer-navigation__link{% if link.active %} site-footer-navigation__link--active{% endif %}{% if link.links != blank %} site-footer-navigation__link--has-sub{% endif %}"
                        {% if link.current %} aria-current="page" {% endif %}>
                            {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
            </div>
            <div class="social__links">
                <h3>{{ section.settings.social_heading }}</h3>
                {% if section.settings.instagram_link != '' or section.settings.facebook_link != '' or section.settings.twitter_link != '' %}
                    <div class="site-footer__social">
                        {% if section.settings.instagram_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.instagram_link }}" title="Follow us on Instagram" rel="nofollow noreferrer">
                                {% include 'icon-social-instagram-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.facebook_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.facebook_link }}" title="Like us on Facebook" rel="nofollow noreferrer">
                                {% include 'icon-social-facebook-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.twitter_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.twitter_link }}" title="Follow us on Twitter" rel="nofollow noreferrer">
                                {% include 'icon-social-twitter-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.linkedin_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.linkedin_link }}" title="Follow us on Linkedin" rel="nofollow noreferrer">
                                {% include 'icon-social-linkedin-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.pinterest_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.pinterest_link }}" title="Follow us on Pinterest" rel="nofollow noreferrer">
                                {% include 'icon-social-pinterest-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.tiktok_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.tiktok_link }}" title="Follow us on Tiktok" rel="nofollow noreferrer">
                                {% include 'icon-social-tiktok-new' %}
                            </a>
                        {% endif %}
                        {% if section.settings.youtube_link != '' %}
                            <a target="_blank" class="site-footer__social-link" href="{{ section.settings.youtube_link }}" title="Follow us on Youtube" rel="nofollow noreferrer">
                                {% include 'icon-social-youtube-new' %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="site-footer__nav">
                <h3>{{ section.settings.policies_heading }}</h3>
                <nav class="site-footer-navigation" id="site-footer-navigation" arial-label="Footer navigation">
                  <ul class="site-footer-navigation__ul">
                      {%- for link in section.settings.policies_menu.links -%}
                          <li class="site-footer-navigation__li{% if link.active %} site-footer-navigation__li--active{% endif %}{% if link.links != blank %} site-footer-navigation__li--has-sub{% endif %}">
                              <a href="{{ link.url }}" class="site-footer-navigation__link{% if link.active %} site-footer-navigation__link--active{% endif %}{% if link.links != blank %} site-footer-navigation__link--has-sub{% endif %}"
                              {% if link.current %} aria-current="page" {% endif %}>
                                  {{ link.title }}
                              </a>
                          </li>
                      {%- endfor -%}
                  </ul>
                </nav>
            </div>
            <div class="site-footer__newsletter">
                <h3>{{ section.settings.newsletter_title }}</h3>
                <p>{{ section.settings.newsletter_content }}</p>
                {% form 'customer' %}
                  <div class="email">
                    <div class="mail-icon">
                      {% include 'mail-icon' %}
                    </div>
                    <input type="email" name="contact[email]" placeholder="Enter your email" required>
                  </div>
                  <div class="submit">
                    <input type="submit" value="Sign up" />
                  </div>
                {% endform %}
                <span>{{ section.settings.newsletter_privacy }}</span>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="payment-icons">
              <div class="list-payment-icon">
                <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.924476" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6419 20.7972C25.8813 20.1805 26.4141 18.7986 26.1608 18.4637H26.1626C25.9104 18.1281 24.4944 18.3042 23.8576 18.3834L23.8562 18.3836C23.6625 18.4077 23.6326 18.233 23.8068 18.1066C24.9377 17.2834 26.7905 17.5189 27.0057 17.7968C27.2208 18.0748 26.947 19.9991 25.8878 20.9179C25.7248 21.0588 25.5693 20.9835 25.6419 20.7972ZM18.0326 21.7485C20.4955 21.7485 23.3636 20.9427 25.3394 19.4324V19.4353C25.6663 19.1805 25.3859 18.8061 25.0525 18.9528C22.8959 19.8952 20.5809 20.3871 18.2403 20.4003C14.993 20.4003 11.852 19.4777 9.3108 17.9462C9.08817 17.8121 8.92236 18.0485 9.10866 18.2212C11.5551 20.508 14.7376 21.7659 18.0326 21.7485Z" fill="#FF9900"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1373 17.2267H35.1862H35.1872C35.2969 17.2288 35.388 17.1395 35.3921 17.0259V14.0139C35.3921 13.6356 35.4116 13.294 35.5588 12.9524C35.6599 12.6925 35.8979 12.5175 36.168 12.5046C36.839 12.5046 36.8325 13.2663 36.8275 13.8647C36.827 13.9151 36.8266 13.9644 36.8266 14.012V17.051C36.8396 17.1485 36.918 17.2224 37.0129 17.2267H38.0711C38.1715 17.2288 38.2579 17.1537 38.2733 17.051V13.5295C38.2733 12.9881 38.2733 12.2344 37.9985 11.7866C37.7013 11.304 37.2411 11.1274 36.7698 11.1274C36.0432 11.1274 35.6306 11.4922 35.3362 12.2575H35.3157V11.4015C35.2945 11.312 35.2183 11.2481 35.1294 11.2452H34.1532C34.05 11.2426 33.9621 11.3223 33.951 11.4285V17.0259C33.9524 17.1332 34.0339 17.221 34.1373 17.2267ZM10.245 17.2378H11.2966H11.2976C11.3503 17.2391 11.4015 17.2185 11.4396 17.1807C11.4777 17.1428 11.4997 17.0908 11.5006 17.0361V14.0705L11.5006 14.024C11.5002 13.3792 11.4996 12.5264 12.2272 12.5264C12.8999 12.5264 12.8895 13.2757 12.8811 13.8808V13.8809V13.881V13.8811V13.8812C12.8802 13.9463 12.8793 14.0098 12.8793 14.0705V17.0371C12.8811 17.1442 12.9623 17.2317 13.0656 17.2378H14.1201C14.1727 17.2388 14.2235 17.2181 14.2615 17.1803C14.2994 17.1425 14.3212 17.0906 14.3222 17.0361V14.0705L14.3221 13.9999V13.9999C14.3215 13.6857 14.3206 13.2617 14.4209 12.9983C14.5232 12.729 14.7705 12.5487 15.0497 12.5399C15.3543 12.5399 15.59 12.646 15.6682 13.0224C15.7082 13.2035 15.703 13.6235 15.6996 13.9019C15.6988 13.9677 15.698 14.0255 15.698 14.0705V17.0371C15.6994 17.1444 15.7809 17.2322 15.8843 17.2378H16.936C16.9888 17.2391 17.0399 17.2185 17.078 17.1807C17.1161 17.1428 17.1381 17.0908 17.1391 17.0361V13.5049C17.1391 13.4188 17.1405 13.3309 17.142 13.2419C17.1506 12.7146 17.1598 12.1534 16.8736 11.7504C16.5267 11.2933 15.9689 11.0656 15.4143 11.1546C14.8597 11.2436 14.3945 11.6355 14.1974 12.1799C13.9021 11.4725 13.4801 11.1434 12.8318 11.1434C12.1834 11.1434 11.7018 11.4725 11.4466 12.1799H11.427V11.4493C11.4215 11.3452 11.3412 11.2621 11.2407 11.2563H10.2599C10.1515 11.2552 10.0622 11.3439 10.0586 11.4561V17.0535C10.0682 17.1542 10.1474 17.2325 10.245 17.2378ZM8.41469 17.2807C8.34542 17.3429 8.24587 17.3533 8.16598 17.3067C7.86793 17.0498 7.77807 16.9109 7.64008 16.6977L7.64006 16.6976C7.61633 16.6609 7.59117 16.6221 7.56329 16.58C6.98482 17.1899 6.57588 17.3723 5.82788 17.3723C4.94201 17.3723 4.25269 16.8058 4.25269 15.6729C4.25269 14.7879 4.71844 14.1867 5.3705 13.8914C5.85199 13.6725 6.49443 13.6045 7.04984 13.5458L7.04987 13.5458L7.04991 13.5458L7.04997 13.5458L7.05001 13.5458L7.05005 13.5457C7.15325 13.5348 7.25344 13.5242 7.34904 13.513V13.3721C7.34904 13.3453 7.34925 13.3179 7.34946 13.2901L7.34946 13.2901C7.3513 13.0498 7.35335 12.7824 7.22142 12.5808C7.09287 12.3801 6.84882 12.298 6.63084 12.298C6.22936 12.298 5.87166 12.5113 5.7841 12.9523C5.773 13.0552 5.69658 13.1376 5.59779 13.1531L4.58617 13.0382C4.53569 13.0307 4.49038 13.0021 4.4608 12.9591C4.43123 12.9161 4.41998 12.8623 4.42967 12.8105C4.66348 11.5289 5.7813 11.1419 6.78268 11.1419C7.29501 11.1419 7.96384 11.2828 8.36625 11.6843C8.83865 12.1425 8.83573 12.7423 8.83254 13.3979V13.3979V13.3979V13.398V13.398V13.398C8.83228 13.4521 8.83201 13.5065 8.83201 13.5613V15.2588C8.83201 15.716 8.99574 15.9434 9.1682 16.183C9.18869 16.2114 9.2093 16.2401 9.22977 16.2693C9.29684 16.3658 9.31174 16.4864 9.22977 16.5588C9.01459 16.745 8.63267 17.0886 8.42308 17.2826L8.41469 17.2807ZM7.35375 14.6227L7.35379 14.6755C7.35416 15.0769 7.35447 15.4173 7.15721 15.7807C6.98953 16.0876 6.72405 16.2768 6.42783 16.2768C6.02448 16.2768 5.78881 15.9583 5.78881 15.4854C5.78881 14.557 6.59271 14.3881 7.35375 14.3881V14.6227ZM22.9602 16.1792C22.9807 16.2077 23.0014 16.2364 23.0219 16.2657C23.0927 16.366 23.1076 16.4838 23.0172 16.5503C22.802 16.7366 22.4201 17.0811 22.2105 17.2741C22.1408 17.3355 22.0416 17.3455 21.9618 17.2992C21.6625 17.0412 21.5738 16.9044 21.4338 16.6883C21.4104 16.6523 21.3856 16.614 21.3582 16.5725C20.7806 17.1825 20.3689 17.3649 19.6237 17.3649C18.7378 17.3649 18.0485 16.7984 18.0485 15.6663C18.0485 14.7804 18.5115 14.1792 19.171 13.8839C19.6535 13.6641 20.2996 13.5965 20.8566 13.5382C20.9577 13.5276 21.0558 13.5174 21.1495 13.5065V13.3685C21.1495 13.3421 21.1497 13.3152 21.1499 13.2879V13.2875V13.2872V13.2869C21.1518 13.0465 21.1538 12.779 21.021 12.5781C20.8961 12.3774 20.6474 12.2944 20.4304 12.2944C20.0289 12.2944 19.6731 12.5077 19.5846 12.9487C19.5732 13.0515 19.4969 13.1336 19.3983 13.1495L18.3783 13.0356C18.3274 13.0284 18.2817 12.9997 18.2519 12.9564C18.2221 12.9131 18.2109 12.859 18.2208 12.8069C18.4556 11.5243 19.5734 11.1383 20.5748 11.1383C21.0862 11.1383 21.755 11.2792 22.1584 11.6806C22.6317 12.1365 22.6284 12.7317 22.6248 13.3839C22.6244 13.4414 22.6241 13.4993 22.6241 13.5577V15.2562C22.6241 15.7124 22.7878 15.9398 22.9602 16.1792ZM20.2254 16.2716C20.5207 16.2716 20.7871 16.0824 20.9538 15.7765C21.1518 15.4111 21.1516 15.0691 21.1513 14.6627L21.1513 14.6194V14.3839C20.3903 14.3839 19.5864 14.5519 19.5864 15.4812C19.5864 15.9531 19.822 16.2716 20.2254 16.2716ZM23.9122 11.4369V12.234C23.9116 12.2887 23.9327 12.3412 23.9706 12.3793C24.0084 12.4175 24.0597 12.4378 24.1125 12.4357H25.9233L23.847 15.5239C23.7522 15.6896 23.7074 15.8808 23.7184 16.073V16.8885C23.7184 17.0063 23.8442 17.1404 23.9643 17.0738C25.1095 16.4586 26.4714 16.4561 27.6187 17.0671C27.75 17.1375 27.8739 17.0014 27.8739 16.8837V16.0267C27.8704 15.8957 27.7993 15.7767 27.6876 15.715C27.0831 15.3628 26.3798 15.2595 25.7147 15.2759L27.5069 12.6258C27.6736 12.3884 27.7668 12.2379 27.7668 12.123V11.4369C27.7673 11.3824 27.7463 11.33 27.7087 11.2919C27.6711 11.2538 27.62 11.2333 27.5674 11.2352H24.1087C24.0561 11.2321 24.0046 11.2523 23.9672 11.2908C23.9297 11.3292 23.9097 11.3823 23.9122 11.4369ZM33.1502 14.2913C33.1502 12.5253 32.3053 11.1356 30.7432 11.1356C29.2211 11.1356 28.3762 12.5021 28.3762 14.2325C28.3762 15.9628 29.2108 17.3525 30.7432 17.3525C32.2187 17.3525 33.1502 15.9985 33.1502 14.2913ZM29.9281 14.056C29.9281 13.3727 29.9775 12.2783 30.7534 12.2783C31.0869 12.2783 31.3226 12.4337 31.4409 12.8197C31.5787 13.2665 31.5983 13.8321 31.5983 14.303C31.5983 15.021 31.5676 16.1984 30.7432 16.1984C29.9278 16.1984 29.928 14.7709 29.9281 14.0786L29.9281 14.056Z" fill="black"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.2421" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="#1F72CD" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98034 10.426L4.01562 19.5888H8.76195L9.35035 18.1278H10.6953L11.2837 19.5888H16.5081V18.4737L16.9736 19.5888H19.6761L20.1416 18.4502V19.5888H31.0068L32.328 18.1658L33.5651 19.5888L39.1457 19.6005L35.1685 15.033L39.1457 10.426H33.6516L32.3656 11.8227L31.1674 10.426H19.3475L18.3325 12.791L17.2937 10.426H12.5573V11.5031L12.0304 10.426H7.98034ZM24.2053 11.7271H30.4446L32.353 13.8798L34.3228 11.7271H36.2311L33.3316 15.0317L36.2311 18.2981H34.2362L32.3279 16.1204L30.348 18.2981H24.2053V11.7271ZM25.7464 14.289V13.0888V13.0876H29.6395L31.3383 15.0071L29.5643 16.9371H25.7464V15.6268H29.1502V14.289H25.7464ZM8.89876 11.7271H11.2123L13.8421 17.9404V11.7271H16.3766L18.4078 16.182L20.2798 11.7271H22.8015V18.302H21.2671L21.2546 13.15L19.0175 18.302H17.6449L15.3953 13.15V18.302H12.2386L11.6402 16.828H8.40695L7.80974 18.3007H6.11842L8.89876 11.7271ZM8.95956 15.4652L10.0248 12.8394L11.0887 15.4652H8.95956Z" fill="white"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.55949" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7757 11.0445C11.3468 11.0934 11.9179 10.7513 12.2749 10.3175C12.6259 9.87151 12.8579 9.2728 12.7984 8.66187C12.2927 8.6863 11.6681 9.00399 11.3111 9.44997C10.9839 9.83485 10.7043 10.458 10.7757 11.0445ZM17.5698 18.913V9.38863H21.0501C22.8467 9.38863 24.1019 10.6594 24.1019 12.5166C24.1019 14.3738 22.8229 15.6568 21.0025 15.6568H19.0095V18.913H17.5698ZM12.7924 11.1604C12.2892 11.1307 11.8302 11.3158 11.4593 11.4653C11.2207 11.5616 11.0186 11.643 10.8649 11.643C10.6924 11.643 10.4819 11.5572 10.2457 11.4608C9.93611 11.3345 9.58218 11.1901 9.21104 11.1971C8.36032 11.2093 7.56909 11.7041 7.13481 12.4922C6.24244 14.0684 6.90279 16.4022 7.76541 17.6851C8.18779 18.3205 8.69347 19.017 9.35976 18.9925C9.65289 18.9812 9.86375 18.8893 10.082 18.7942C10.3332 18.6847 10.5942 18.571 11.0017 18.571C11.3951 18.571 11.6447 18.6818 11.8842 18.7881C12.112 18.8892 12.3308 18.9863 12.6556 18.9803C13.3456 18.9681 13.7799 18.3449 14.2023 17.7096C14.6581 17.0277 14.8584 16.3621 14.8888 16.2611L14.8924 16.2495C14.8917 16.2487 14.8861 16.2461 14.8762 16.2414L14.8761 16.2414L14.8761 16.2414C14.7237 16.1698 13.5591 15.6222 13.5479 14.154C13.5367 12.9216 14.4717 12.2972 14.6189 12.1989C14.6278 12.1929 14.6339 12.1889 14.6366 12.1868C14.0417 11.2826 13.1136 11.1848 12.7924 11.1604ZM26.7308 18.9866C27.6351 18.9866 28.4739 18.5161 28.8547 17.7708H28.8844V18.9132H30.217V14.1724C30.217 12.7978 29.1462 11.912 27.4983 11.912C25.9693 11.912 24.839 12.81 24.7974 14.0441H26.0943C26.2014 13.4576 26.7308 13.0727 27.4566 13.0727C28.3371 13.0727 28.8309 13.4943 28.8309 14.2702V14.7956L27.0342 14.9055C25.3625 15.0094 24.4583 15.712 24.4583 16.9338C24.4583 18.1679 25.3923 18.9866 26.7308 18.9866ZM27.1174 17.8563C26.35 17.8563 25.8621 17.4775 25.8621 16.8971C25.8621 16.2984 26.3321 15.9502 27.2304 15.8952L28.8307 15.7913V16.329C28.8307 17.2209 28.0931 17.8563 27.1174 17.8563ZM34.6371 19.2864C34.06 20.9542 33.3997 21.504 31.9957 21.504C31.8886 21.504 31.5317 21.4918 31.4484 21.4674V20.3249C31.5376 20.3372 31.7577 20.3494 31.8708 20.3494C32.5073 20.3494 32.8643 20.0745 33.0844 19.3597L33.2153 18.9381L30.7761 12.0041H32.2813L33.9767 17.6307H34.0065L35.702 12.0041H37.1655L34.6371 19.2864ZM19.0089 10.6354H20.6687C21.918 10.6354 22.6319 11.3196 22.6319 12.5232C22.6319 13.7267 21.918 14.4171 20.6628 14.4171H19.0089V10.6354Z" fill="black"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.87711" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path d="M24.3173 24.07C29.2534 24.0942 33.7589 19.9485 33.7589 14.9053C33.7589 9.39074 29.2534 5.57851 24.3173 5.58057H20.069C15.074 5.57851 10.9622 9.39177 10.9622 14.9053C10.9622 19.9495 15.074 24.0942 20.069 24.07H24.3173Z" fill="#0079BE"/>
                  <path d="M20.0892 6.34424C15.5244 6.34578 11.826 10.1333 11.8245 14.808C11.826 19.4822 15.5244 23.2698 20.0892 23.2713C24.6546 23.2698 28.3545 19.4822 28.355 14.808C28.3545 10.1333 24.6551 6.34578 20.0892 6.34424ZM14.8508 14.808C14.8498 13.7272 15.1703 12.6712 15.7703 11.7781C16.3703 10.8849 17.2219 10.1962 18.2139 9.8019V19.8136C17.2218 19.4196 16.3701 18.731 15.7701 17.8379C15.17 16.9448 14.8496 15.8888 14.8508 14.808ZM21.9641 19.8157V9.80139C22.9568 10.1951 23.8091 10.8838 24.4096 11.7772C25.01 12.6707 25.3306 13.7272 25.3292 14.8085C25.3304 15.8898 25.0097 16.9463 24.4093 17.8397C23.8089 18.7331 22.9566 19.4218 21.9641 19.8157Z" fill="white"/>
                  <path d="M24.3173 24.07C29.2534 24.0942 33.7589 19.9485 33.7589 14.9053C33.7589 9.39074 29.2534 5.57851 24.3173 5.58057H20.069C15.074 5.57851 10.9622 9.39177 10.9622 14.9053C10.9622 19.9495 15.074 24.0942 20.069 24.07H24.3173Z" fill="#0079BE"/>
                  <path d="M20.0892 6.34424C15.5244 6.34578 11.826 10.1333 11.8245 14.808C11.826 19.4822 15.5244 23.2698 20.0892 23.2713C24.6546 23.2698 28.3545 19.4822 28.355 14.808C28.3545 10.1333 24.6551 6.34578 20.0892 6.34424ZM14.8508 14.808C14.8498 13.7272 15.1703 12.6712 15.7703 11.7781C16.3703 10.8849 17.2219 10.1962 18.2139 9.8019V19.8136C17.2218 19.4196 16.3701 18.731 15.7701 17.8379C15.17 16.9448 14.8496 15.8888 14.8508 14.808ZM21.9641 19.8157V9.80139C22.9568 10.1951 23.8091 10.8838 24.4096 11.7772C25.01 12.6707 25.3306 13.7272 25.3292 14.8085C25.3304 15.8898 25.0097 16.9463 24.4093 17.8397C23.8089 18.7331 22.9566 19.4218 21.9641 19.8157Z" fill="white"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.1945" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path d="M17.5581 27.8301L40.9782 20.7424V24.9642C40.9782 26.547 39.6951 27.8301 38.1123 27.8301H17.5581Z" fill="#FD6020"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M36.5016 11.2638C37.7901 11.2638 38.4987 11.8598 38.4987 12.9856C38.5632 13.8466 37.9833 14.5751 37.2103 14.7075L38.9497 17.1579H37.5968L36.1151 14.7737H35.9862V17.1579H34.891V11.2638H36.5016ZM35.986 13.9791H36.3081C37.0167 13.9791 37.3388 13.648 37.3388 13.0519C37.3388 12.5221 37.0167 12.191 36.3081 12.191H35.986V13.9791ZM31.0902 17.1579H34.1825V16.1645H32.1854V14.5751H34.1181V13.5817H32.1854V12.2572H34.1825V11.2638H31.0902V17.1579ZM27.8687 15.2373L26.387 11.2638H25.2274L27.611 17.2903H28.1908L30.5745 11.2638H29.4149L27.8687 15.2373ZM14.7909 14.2445C14.7909 15.9002 16.0794 17.2909 17.6899 17.2909C18.2053 17.2909 18.6563 17.1585 19.1073 16.9598V15.6353C18.7851 16.0326 18.3342 16.2975 17.8188 16.2975C16.788 16.2975 15.9505 15.5028 15.9505 14.4432V14.3108C15.8861 13.2511 16.7236 12.324 17.7544 12.2578C18.2697 12.2578 18.7851 12.5227 19.1073 12.92V11.5955C18.7207 11.3306 18.2053 11.2644 17.7544 11.2644C16.0794 11.1319 14.7909 12.5227 14.7909 14.2445ZM12.7941 13.5158C12.1498 13.2508 11.9566 13.1184 11.9566 12.7873C12.021 12.3899 12.3431 12.0588 12.7296 12.125C13.0517 12.125 13.3739 12.3237 13.6316 12.5886L14.2114 11.7939C13.7604 11.3965 13.1806 11.1316 12.6008 11.1316C11.6989 11.0654 10.9258 11.7939 10.8614 12.721V12.7873C10.8614 13.582 11.1835 14.0456 12.2142 14.3767C12.4719 14.4429 12.7296 14.5754 12.9873 14.7078C13.1806 14.8403 13.3094 15.0389 13.3094 15.3038C13.3094 15.7674 12.9229 16.1648 12.5364 16.1648H12.4719C11.9566 16.1648 11.5056 15.8337 11.3123 15.3701L10.6037 16.0986C10.9902 16.827 11.7633 17.2244 12.5364 17.2244C13.5671 17.2906 14.4046 16.4959 14.4691 15.4363V15.2376C14.4046 14.4429 14.0825 14.0456 12.7941 13.5158ZM9.05715 17.1579H10.1523V11.2638H9.05715V17.1579ZM3.96802 11.2638H5.5786H5.90072C7.44688 11.33 8.67092 12.6545 8.6065 14.2439C8.6065 15.1049 8.21996 15.8996 7.57572 16.4956C6.99591 16.9592 6.28726 17.2241 5.5786 17.1579H3.96802V11.2638ZM5.38539 16.1643C5.90078 16.2305 6.48059 16.0318 6.86713 15.7007C7.25367 15.3033 7.44694 14.7735 7.44694 14.1775C7.44694 13.6477 7.25367 13.1179 6.86713 12.7205C6.48059 12.3894 5.90078 12.1907 5.38539 12.257H5.06328V16.1643H5.38539Z" fill="black"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3932 11.1274C20.7826 11.1274 19.4297 12.452 19.4297 14.1738C19.4297 15.8295 20.7182 17.2202 22.3932 17.2864C24.0682 17.3527 25.3566 15.9619 25.4211 14.2401C25.3566 12.5182 24.0682 11.1274 22.3932 11.1274V11.1274Z" fill="#FD6020"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.51212" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2472 21.6618C20.6246 23.0233 18.5197 23.8451 16.2196 23.8451C11.0876 23.8451 6.92725 19.7534 6.92725 14.706C6.92725 9.65862 11.0876 5.56689 16.2196 5.56689C18.5197 5.56689 20.6247 6.38882 22.2474 7.75034C23.87 6.38889 25.9749 5.56701 28.275 5.56701C33.407 5.56701 37.5674 9.65873 37.5674 14.7061C37.5674 19.7535 33.407 23.8452 28.275 23.8452C25.9749 23.8452 23.8699 23.0233 22.2472 21.6618Z" fill="#ED0006"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2476 21.6621C24.2455 19.9858 25.5123 17.4915 25.5123 14.7063C25.5123 11.921 24.2455 9.42674 22.2476 7.75046C23.8702 6.38902 25.9751 5.56714 28.2752 5.56714C33.4072 5.56714 37.5675 9.65886 37.5675 14.7063C37.5675 19.7537 33.4072 23.8454 28.2752 23.8454C25.9751 23.8454 23.8702 23.0235 22.2476 21.6621Z" fill="#F9A000"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2477 21.6619C24.2456 19.9856 25.5124 17.4913 25.5124 14.706C25.5124 11.9208 24.2456 9.42653 22.2477 7.75024C20.2498 9.42653 18.9829 11.9208 18.9829 14.706C18.9829 17.4913 20.2498 19.9856 22.2477 21.6619Z" fill="#FF5E00"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.82975" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8945 20.074H11.3183L9.38638 12.597C9.29469 12.2531 9.09999 11.949 8.8136 11.8057C8.09889 11.4456 7.31132 11.1589 6.45215 11.0144V10.7265H10.6023C11.1751 10.7265 11.6046 11.1589 11.6762 11.6611L12.6786 17.0546L15.2536 10.7265H17.7582L13.8945 20.074ZM19.1899 20.074H16.7568L18.7603 10.7265H21.1933L19.1899 20.074ZM24.3417 13.3159C24.4133 12.8124 24.8429 12.5245 25.3441 12.5245C26.1317 12.4523 26.9896 12.5968 27.7055 12.9557L28.1351 10.9432C27.4192 10.6553 26.6316 10.5107 25.9169 10.5107C23.5554 10.5107 21.8371 11.8055 21.8371 13.6025C21.8371 14.9695 23.0542 15.6873 23.9134 16.1197C24.8429 16.5509 25.2009 16.8388 25.1293 17.27C25.1293 17.9167 24.4133 18.2046 23.6986 18.2046C22.8394 18.2046 21.9803 17.989 21.194 17.6289L20.7644 19.6427C21.6235 20.0016 22.5531 20.1461 23.4122 20.1461C26.0601 20.2171 27.7055 18.9236 27.7055 16.9821C27.7055 14.5371 24.3417 14.3938 24.3417 13.3159ZM36.2205 20.074L34.2886 10.7265H32.2136C31.784 10.7265 31.3544 11.0144 31.2112 11.4456L27.6339 20.074H30.1385L30.6384 18.7082H33.7159L34.0022 20.074H36.2205ZM32.5718 13.2435L33.2865 16.7665H31.283L32.5718 13.2435Z" fill="#172B85"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.14713" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="white" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4261 18.8201H10.5086C10.3774 18.8201 10.2658 18.9154 10.2453 19.0449L9.46978 23.962C9.45437 24.059 9.52951 24.1465 9.62793 24.1465H10.5434C10.6746 24.1465 10.7862 24.0511 10.8066 23.9214L11.0158 22.5952C11.036 22.4653 11.1479 22.3701 11.2788 22.3701H11.8858C13.1489 22.3701 13.8779 21.7588 14.0684 20.5476C14.1541 20.0177 14.072 19.6013 13.8238 19.3096C13.5513 18.9895 13.0679 18.8201 12.4261 18.8201ZM12.6473 20.616C12.5425 21.304 12.0168 21.304 11.5084 21.304H11.2191L11.4221 20.019C11.4341 19.9414 11.5014 19.8842 11.5799 19.8842H11.7126C12.0588 19.8842 12.3855 19.8842 12.5543 20.0815C12.6549 20.1993 12.6857 20.3742 12.6473 20.616ZM18.158 20.5939H17.2398C17.1615 20.5939 17.0939 20.6511 17.0818 20.7288L17.0412 20.9856L16.977 20.8926C16.7782 20.604 16.335 20.5076 15.8925 20.5076C14.8778 20.5076 14.0111 21.2761 13.8423 22.3542C13.7546 22.8919 13.8793 23.4061 14.1844 23.7648C14.4642 24.0945 14.8647 24.2319 15.341 24.2319C16.1585 24.2319 16.612 23.7061 16.612 23.7061L16.571 23.9613C16.5556 24.0589 16.6307 24.1464 16.7285 24.1464H17.5557C17.6873 24.1464 17.7982 24.051 17.819 23.9212L18.3153 20.7784C18.331 20.6817 18.2561 20.5939 18.158 20.5939ZM16.878 22.3811C16.7894 22.9057 16.373 23.2578 15.8421 23.2578C15.5754 23.2578 15.3622 23.1723 15.2255 23.0103C15.0898 22.8494 15.0381 22.6202 15.0813 22.3651C15.1641 21.845 15.5875 21.4814 16.1104 21.4814C16.3711 21.4814 16.5831 21.5679 16.7227 21.7314C16.8626 21.8966 16.9181 22.127 16.878 22.3811ZM22.1257 20.5938H23.0485C23.1777 20.5938 23.2531 20.7387 23.1796 20.8447L20.1106 25.2747C20.0609 25.3464 19.9791 25.3891 19.8916 25.3891H18.97C18.8402 25.3891 18.7645 25.243 18.8396 25.1368L19.7952 23.7879L18.7789 20.8051C18.7437 20.7015 18.8203 20.5938 18.9305 20.5938H19.8372C19.9551 20.5938 20.059 20.6711 20.093 20.7839L20.6324 22.5853L21.9051 20.7107C21.9549 20.6375 22.0377 20.5938 22.1257 20.5938Z" fill="#253B80"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1305 23.9622L32.9174 18.9553C32.9295 18.8775 32.9968 18.8203 33.0751 18.8201H33.961C34.0589 18.8201 34.134 18.9078 34.1185 19.0048L33.3425 23.9216C33.3223 24.0514 33.2107 24.1468 33.0792 24.1468H32.288C32.1902 24.1468 32.1151 24.0593 32.1305 23.9622ZM26.1037 18.8203H24.1858C24.0549 18.8203 23.9433 18.9157 23.9228 19.0452L23.1473 23.9622C23.1318 24.0593 23.207 24.1468 23.3049 24.1468H24.289C24.3804 24.1468 24.4587 24.0801 24.473 23.9892L24.693 22.5954C24.7133 22.4656 24.8251 22.3703 24.956 22.3703H25.5627C26.8261 22.3703 27.5549 21.7591 27.7455 20.5478C27.8316 20.0179 27.7489 19.6016 27.5008 19.3099C27.2285 18.9898 26.7454 18.8203 26.1037 18.8203ZM26.3249 20.6162C26.2203 21.3043 25.6946 21.3043 25.1859 21.3043H24.8968L25.1002 20.0192C25.1122 19.9416 25.1789 19.8844 25.2577 19.8844H25.3903C25.7363 19.8844 26.0633 19.8844 26.232 20.0818C26.3327 20.1996 26.3633 20.3745 26.3249 20.6162ZM31.835 20.5942H30.9174C30.8386 20.5942 30.7716 20.6514 30.7598 20.7291L30.7192 20.9859L30.6547 20.8928C30.4559 20.6043 30.0129 20.5079 29.5705 20.5079C28.5557 20.5079 27.6894 21.2764 27.5206 22.3545C27.4331 22.8922 27.5573 23.4064 27.8623 23.765C28.1427 24.0947 28.5426 24.2321 29.0189 24.2321C29.8365 24.2321 30.2898 23.7064 30.2898 23.7064L30.249 23.9616C30.2335 24.0592 30.3087 24.1466 30.4071 24.1466H31.2339C31.3648 24.1466 31.4764 24.0513 31.4969 23.9215L31.9935 20.7787C32.0087 20.682 31.9335 20.5942 31.835 20.5942ZM30.5552 22.3814C30.4671 22.9059 30.0502 23.2581 29.5191 23.2581C29.253 23.2581 29.0394 23.1726 28.9025 23.0105C28.7668 22.8496 28.7158 22.6205 28.7585 22.3654C28.8417 21.8452 29.2645 21.4817 29.7874 21.4817C30.0482 21.4817 30.2601 21.5682 30.3999 21.7317C30.5403 21.8969 30.5958 22.1273 30.5552 22.3814Z" fill="#179BD7"/>
                  <path d="M19.5221 17.0608L19.7579 15.5635L19.2328 15.5513H16.7253L18.4679 4.50215C18.4732 4.46879 18.4909 4.43769 18.5166 4.4156C18.5422 4.39352 18.5752 4.38135 18.6095 4.38135H22.8374C24.2411 4.38135 25.2097 4.67343 25.7154 5.24993C25.9525 5.52038 26.1035 5.80299 26.1766 6.11401C26.2531 6.44036 26.2545 6.83025 26.1797 7.30579L26.1742 7.3405V7.64519L26.4114 7.77952C26.6111 7.88544 26.7697 8.00669 26.8914 8.14553C27.0943 8.37676 27.2255 8.67064 27.2809 9.01906C27.3381 9.37741 27.3192 9.80381 27.2255 10.2866C27.1173 10.8419 26.9424 11.3255 26.7062 11.7213C26.4889 12.0859 26.2121 12.3883 25.8836 12.6228C25.5698 12.8454 25.1971 13.0145 24.7756 13.1227C24.3672 13.229 23.9016 13.2827 23.3909 13.2827H23.0619C22.8266 13.2827 22.598 13.3674 22.4187 13.5194C22.2389 13.6744 22.1198 13.8862 22.0833 14.1179L22.0585 14.2527L21.642 16.8917L21.6231 16.9887C21.6181 17.0194 21.6096 17.0347 21.597 17.0451C21.5857 17.0544 21.5695 17.0608 21.5536 17.0608H19.5221Z" fill="#253B80"/>
                  <path d="M26.636 7.37598C26.6235 7.45666 26.6091 7.53914 26.5928 7.62388C26.0352 10.4866 24.1277 11.4755 21.6914 11.4755H20.4509C20.153 11.4755 19.902 11.6919 19.8555 11.9857L19.2204 16.0137L19.0405 17.1553C19.0103 17.3483 19.1591 17.5223 19.3538 17.5223H21.5539C21.8145 17.5223 22.0357 17.333 22.0767 17.0761L22.0984 16.9642L22.5127 14.3354L22.5393 14.1913C22.5798 13.9335 22.8015 13.7442 23.062 13.7442H23.3911C25.5227 13.7442 27.1914 12.8787 27.6791 10.3743C27.8828 9.32815 27.7773 8.45461 27.2382 7.84024C27.0751 7.65498 26.8727 7.50128 26.636 7.37598Z" fill="#179BD7"/>
                  <path d="M26.0528 7.14373C25.9677 7.11894 25.8797 7.0964 25.7895 7.07612C25.699 7.05629 25.6061 7.03871 25.5106 7.02339C25.1761 6.96929 24.8096 6.9436 24.417 6.9436H21.1032C21.0215 6.9436 20.9441 6.96208 20.8747 6.99544C20.7218 7.0689 20.6083 7.2136 20.5808 7.39074L19.8757 11.8558L19.8555 11.9861C19.9019 11.6922 20.153 11.4758 20.4509 11.4758H21.6913C24.1277 11.4758 26.0353 10.4865 26.5928 7.62423C26.6094 7.53949 26.6234 7.457 26.636 7.37632C26.495 7.3015 26.3421 7.23749 26.1776 7.18294C26.1371 7.16942 26.0952 7.15636 26.0528 7.14373Z" fill="#222D65"/>
                  <path d="M20.5802 7.39021C20.6077 7.21306 20.7214 7.06838 20.8741 6.99535C20.9441 6.96199 21.0211 6.94352 21.1026 6.94352H24.4166C24.8092 6.94352 25.1756 6.96921 25.51 7.0233C25.6056 7.03863 25.6985 7.05621 25.7891 7.07603C25.8793 7.09633 25.9671 7.11886 26.0524 7.14365C26.0947 7.15627 26.1366 7.16934 26.1776 7.18242C26.3421 7.23695 26.495 7.30141 26.636 7.37578C26.8019 6.31788 26.6347 5.59759 26.0628 4.94536C25.4322 4.22733 24.294 3.91992 22.8377 3.91992H18.6096C18.3121 3.91992 18.0584 4.13627 18.0123 4.43061L16.2513 15.5933C16.2166 15.8142 16.3869 16.0135 16.6096 16.0135H19.2199L19.8753 11.8553L20.5802 7.39021Z" fill="#253B80"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.46476" y="0.958168" width="40.677" height="27.7343" rx="3.69791" fill="#5A31F4" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path d="M24.4816 13.6684C24.4816 15.5668 23.1697 16.922 21.3364 16.922H19.6091C19.5901 16.922 19.5712 16.9258 19.5536 16.9332C19.536 16.9406 19.52 16.9515 19.5065 16.9652C19.4931 16.9789 19.4824 16.9952 19.4752 17.0131C19.468 17.031 19.4643 17.0502 19.4644 17.0695V19.5646C19.4644 19.6036 19.4492 19.641 19.422 19.6687C19.3949 19.6963 19.3581 19.712 19.3196 19.7122H18.111C18.0823 19.712 18.0542 19.7033 18.0303 19.6871C18.0065 19.6708 17.9878 19.6478 17.9768 19.6209C17.9695 19.6033 17.9657 19.5844 17.9656 19.5653V10.5617C17.9655 10.5424 17.9691 10.5232 17.9764 10.5053C17.9836 10.4874 17.9942 10.4711 18.0077 10.4574C18.0211 10.4437 18.0371 10.4328 18.0547 10.4254C18.0724 10.418 18.0912 10.4141 18.1103 10.4141H21.3441C23.1697 10.412 24.4816 11.7672 24.4816 13.6684ZM22.9743 13.6684C22.9743 12.577 22.2407 11.7793 21.2457 11.7793H19.6091C19.5901 11.7793 19.5712 11.7831 19.5536 11.7905C19.536 11.798 19.52 11.8088 19.5065 11.8226C19.4931 11.8363 19.4824 11.8525 19.4752 11.8704C19.468 11.8883 19.4643 11.9075 19.4644 11.9269V15.4014C19.4644 15.4404 19.4796 15.4777 19.5068 15.5052C19.5339 15.5328 19.5707 15.5483 19.6091 15.5483H21.2457C22.2407 15.5554 22.9743 14.757 22.9743 13.6684ZM24.84 17.9849C24.8274 17.6937 24.8868 17.404 25.0127 17.142C25.1386 16.8801 25.3271 16.6542 25.5609 16.485C26.0324 16.125 26.7695 15.9389 27.8517 15.9004L29.0041 15.8591V15.514C29.0041 14.8226 28.5473 14.5303 27.8137 14.5303C27.0801 14.5303 26.615 14.794 26.5081 15.2253C26.4994 15.2557 26.4811 15.2822 26.4559 15.3008C26.4307 15.3194 26.4001 15.3289 26.369 15.328H25.2307C25.2097 15.3286 25.1889 15.3244 25.1697 15.3159C25.1504 15.3074 25.1333 15.2947 25.1195 15.2787C25.1057 15.2627 25.0955 15.2438 25.0897 15.2234C25.0839 15.2029 25.0826 15.1815 25.0859 15.1605C25.2545 14.1382 26.0929 13.3612 27.8657 13.3612C29.7518 13.3612 30.4327 14.2523 30.4327 15.9532V19.5646C30.4323 19.604 30.4166 19.6416 30.3889 19.6693C30.3613 19.6969 30.3239 19.7123 30.2851 19.7122H29.1376C29.0992 19.712 29.0624 19.6967 29.035 19.6694C29.0216 19.6557 29.011 19.6395 29.0037 19.6216C28.9965 19.6037 28.9928 19.5846 28.9929 19.5653V19.2951C28.9933 19.2728 28.987 19.2509 28.9749 19.2322C28.9628 19.2136 28.9454 19.1991 28.925 19.1907C28.9046 19.1823 28.8822 19.1803 28.8607 19.1851C28.8392 19.1899 28.8196 19.2011 28.8045 19.2174C28.4602 19.5974 27.9044 19.8718 27.0141 19.8718C25.7043 19.8718 24.84 19.1803 24.84 17.9849ZM29.0041 17.2021V16.922L27.5116 17.0018C26.7253 17.0424 26.2678 17.3739 26.2678 17.9321C26.2678 18.4368 26.6873 18.7163 27.4202 18.7163C28.4159 18.7163 29.0041 18.1709 29.0041 17.2021ZM31.5851 22.441V21.3945C31.5853 21.3726 31.5903 21.351 31.5997 21.3312C31.609 21.3114 31.6226 21.294 31.6393 21.2801C31.6561 21.2662 31.6757 21.2562 31.6966 21.2509C31.7176 21.2455 31.7395 21.2449 31.7607 21.2491C31.9364 21.2826 32.1156 21.2997 32.2948 21.3004C32.6028 21.3156 32.907 21.2256 33.1586 21.0446C33.4102 20.8637 33.5947 20.6023 33.6826 20.3024L33.7571 20.0615C33.7679 20.0291 33.7679 19.994 33.7571 19.9617L31.3658 13.7311C31.3572 13.7086 31.3541 13.6842 31.3568 13.6601C31.3595 13.636 31.3679 13.613 31.3813 13.5929C31.3947 13.5729 31.4127 13.5564 31.4337 13.545C31.4548 13.5335 31.4783 13.5275 31.5022 13.5273H32.6616C32.6912 13.5276 32.7201 13.5369 32.7444 13.5541C32.7687 13.5712 32.7873 13.5954 32.7979 13.6235L34.4218 18.0177C34.432 18.0468 34.4508 18.0721 34.4758 18.09C34.5007 18.1079 34.5304 18.1175 34.561 18.1175C34.5915 18.1175 34.6213 18.1079 34.6462 18.09C34.6711 18.0721 34.6899 18.0468 34.7001 18.0177L36.1104 13.6356C36.1202 13.6057 36.139 13.5796 36.1643 13.5612C36.1895 13.5427 36.2198 13.5329 36.2509 13.533H37.4504C37.4745 13.5331 37.4981 13.5392 37.5193 13.5506C37.5405 13.562 37.5587 13.5785 37.5723 13.5986C37.5859 13.6187 37.5945 13.6418 37.5974 13.666C37.6003 13.6902 37.5974 13.7148 37.5889 13.7376L35.0311 20.6567C34.4422 22.2649 33.4324 22.6763 32.3208 22.6763C32.11 22.682 31.8992 22.6563 31.6954 22.6C31.6615 22.5909 31.6319 22.57 31.6117 22.5409C31.5915 22.5118 31.5821 22.4765 31.5851 22.441ZM10.1987 9.89517C8.67535 9.88416 7.20574 10.4658 6.09221 11.5205C6.04459 11.5648 6.0149 11.6254 6.00893 11.6906C6.00295 11.7559 6.02112 11.821 6.05989 11.8734L6.74922 12.8286C6.77157 12.8605 6.80052 12.8869 6.83402 12.9061C6.86753 12.9254 6.90479 12.9369 6.94317 12.94C6.98155 12.943 7.02013 12.9375 7.05618 12.9238C7.09224 12.9101 7.1249 12.8886 7.15187 12.8607C7.55226 12.4546 8.02843 12.1336 8.55254 11.9163C9.07666 11.699 9.6382 11.5899 10.2043 11.5954C12.5682 11.5954 13.8028 13.4004 13.8028 15.1826C13.8028 17.1201 12.5057 18.4832 10.6414 18.5102C9.20091 18.5102 8.11525 17.5415 8.11525 16.2618C8.11675 15.9386 8.18894 15.6197 8.32662 15.3281C8.46429 15.0366 8.66402 14.7797 8.9114 14.5759C8.9637 14.5316 8.99675 14.4682 9.00346 14.3994C9.01016 14.3306 8.98997 14.2619 8.94724 14.2081L8.22276 13.2799C8.20085 13.2518 8.17362 13.2285 8.14268 13.2113C8.11174 13.1941 8.07771 13.1833 8.0426 13.1797C8.00749 13.176 7.97202 13.1795 7.93827 13.19C7.90453 13.2005 7.87319 13.2177 7.84612 13.2407C7.40119 13.6044 7.04214 14.0644 6.79531 14.5872C6.54848 15.11 6.42012 15.6822 6.41966 16.2618C6.41966 18.4646 8.26493 20.1926 10.6288 20.2069H10.6604C13.4669 20.1698 15.4963 18.0611 15.4963 15.179C15.4963 12.6198 13.6384 9.89517 10.1994 9.89517H10.1987Z" fill="white"/>
                </svg>
              </div>
              <div class="list-payment-icon">
                <svg width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.78239" y="0.958168" width="41.2933" height="27.7343" rx="3.69791" fill="#3D95CE" stroke="#D9D9D9" stroke-width="1.84895"/>
                  <path d="M29.5474 10.4617C29.5474 14.2385 26.3955 19.1456 23.8366 22.5909H17.9939L15.6494 8.25531L20.7661 7.75979L22.0049 17.9598C23.1636 16.0295 24.5922 12.9985 24.5922 10.9314C24.5922 9.7998 24.4024 9.0294 24.1065 8.3946L28.7659 7.42944C29.3045 8.33913 29.5474 9.27716 29.5474 10.4617Z" fill="white"/>
                </svg>
              </div>
            </div>
            <div class="copyright-menu">
              <nav class="site-footer-navigation" id="site-footer-navigation" arial-label="Footer navigation">
                <ul class="site-footer-navigation__ul">
                    {%- for link in linklists.copyright-menu.links -%}
                        <li class="site-footer-navigation__li{% if link.active %} site-footer-navigation__li--active{% endif %}{% if link.links != blank %} site-footer-navigation__li--has-sub{% endif %}">
                            <a href="{{ link.url }}" class="site-footer-navigation__link{% if link.active %} site-footer-navigation__link--active{% endif %}{% if link.links != blank %} site-footer-navigation__link--has-sub{% endif %}"
                            {% if link.current %} aria-current="page" {% endif %}>
                                {{ link.title }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
              </nav>
            </div>
            {% if section.settings.copyright_text != '' %}
                <div class="social-footer__copyright">
                    {% if section.settings.copyright_text != '' %}
                      <p>{{ section.settings.copyright_text }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>
