{{ 'section-home-collection-list.css' | asset_url | stylesheet_tag }}

<div class="home-collection-list-outer-container">
	<div class="home-collection-list-inner-container">
		{%- for block in section.blocks -%}
			<div class="home-collection-list-element">
				{%- assign collection = block.settings.collection -%}
				<a style="background-image:url({{ collection.image | img_url: 'master' }})" title="View {{ collection.title }}" aria-label="{{ collection.title }}" href="{{ collection.url }}" title="{{ collection.title }}" class="list-collection-anchor-image">
					<h2 class="home-collection-list-element-title">
						{{ collection.title }}
					</h2>
				</a>
			</div>
		{%- endfor -%}
	</div>
	{%- if paginate.pages > 1 -%}
		{% render 'pagination', paginate: paginate, anchor: '' %}
	{%- endif -%}
</div>

{% schema %}
	{
		"name": "Home Collection List",
		"tag": "section",
		"class": "section",
		"blocks": [
			{
				"type": "collection",
				"name": "Collection",
				"settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Home Collection List",
				"category": "Home",
				"settings": {}
			}
		]
	}
{% endschema %}