<section class="shop-room" style="background-color:{{section.settings.background_accent}}">
  <div class="site-wrap">
    <h2 style="color: {{section.settings.heading_color}}">{{ section.settings.heading }}</h2>
    <div class="room-collections">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'collection' %}
          <div class="collection-box">
            <a href="{{ block.settings.link }}">
              <img width="157" height="157" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
              <h3>{{ block.settings.title }}</h3>
            </a>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Shop By Room",
    "max_blocks": 7,
    "settings": [
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#1b2c3d"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "background_accent",
        "label": "Section Background Color",
        "default": "#fbf9f8"
      }
    ],
    "blocks": [
      {
        "name": "Room Collections",
        "type": "collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Collection Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Collection Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Collection Link"
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop By Room",
      }
    ]
  }
{% endschema %}