{{ 'section-list-collections.css' | asset_url | stylesheet_tag }}

{% paginate collections by 18 %}
	<div class="list-collections-outer-container">
		<div class="list-collections-inner-container site-wrap">
			{%- for collection in collections -%}
				{%- unless collection.url == "/collections/flooring-accessories" or collection.url == "/collections/allur-decking" -%}
					<div class="list-collections-element">
						<a style="background-image:url({{ collection.image | img_url: 'master' }})" href="{{ collection.url }}" title="{{ collection.title }}" class="list-collection-anchor-image">
							<h2 class="list-collections-element-title">
								{{ collection.title }}
							</h2>
						</a>
						<div class="list-collections-element-text">
							{{ collection.description }}
						</div>
						<div class="list-collections-cta-button-container">
							<a class="list-collections-cta-button button button--secondary" title="{{ collection.title }}" href="{{ collection.url }}">
								View All
							</a>
						</div>
					</div>
				{%- endunless -%}
			{%- endfor -%}
			{%- for collection in collections -%}
				{%- if collection.url == "/collections/flooring-accessories" or collection.url == "/collections/allur-decking" -%}
					<div class="list-collections-element">
						<a style="background-image:url({{ collection.image | img_url: 'master' }})" href="{{ collection.url }}" title="{{ collection.title }}" class="list-collection-anchor-image">
							<h2 class="list-collections-element-title">
								{{ collection.title }}
							</h2>
						</a>
						<div class="list-collections-element-text">
							{{ collection.description }}
						</div>
						<div class="list-collections-cta-button-container">
							<a class="list-collections-cta-button button button--secondary" title="{{ collection.title }}" href="{{ collection.url }}">
								View All
							</a>
						</div>
					</div>
				{%- endif -%}
			{%- endfor -%}
		</div>
		{%- if paginate.pages > 1 -%}
			{% render 'pagination', paginate: paginate, anchor: '' %}
		{%- endif -%}
	</div>
{% endpaginate %}

{% schema %}
	{
		"name": "List Collections",
		"tag": "section",
		"class": "section",
		"presets": [
			{
				"name": "List Collections",
				"category": "Collection",
				"settings": {}
			}
		]
	}
{% endschema %}