{%- assign selectedVariant = product.selected_or_first_available_variant -%}
{%- assign templateId = '5763bccae0a06d08e809ecbb' -%}
{%- assign businessunitId = '5fcfadfbc9a213000101e017' -%}
<div class="trustpilot-wd-large-review">
  <div class="trustpilot-review-inner">
    <!-- TrustBox widget - Product Reviews MultiSource SEO -->
    <div class="trustpilot-widget trustpilot-widget-element" data-locale="en-GB" data-template-id="{{ templateId }}" data-businessunit-id="{{ businessunitId }}" data-style-height="700px" data-style-width="100%" data-theme="light" data-sku="{{ selectedVariant.sku }}" data-name="{{ selectedVariant.title }}" data-review-languages="en" data-font-family="PT Sans" data-no-reviews="hide" data-fullwidth="true">
      <a href="https://uk.trustpilot.com/review/storiesflooring.co.uk" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <div class="trustpilot-review-qa">
      <script src="//widget.trustpilot.com/product-questions/loader.js" data-business-unit-id="{{ businessunitId }}" data-sku="{{ selectedVariant.sku }}"
    data-style-width="100%" data-style-height="120px" data-locale="en-GB" data-button-color="#1A66FF" data-button-text-color="#ffffff" defer></script>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const widget = document.querySelector('.trustpilot-widget-element');
    const widgetContainer = widget.closest('.trustpilot-wd-large-review');
    if(widget && widgetContainer) {
      const businessunitId = widget.getAttribute('data-businessunit-id');
      const templateId = widget.getAttribute('data-template-id');
      const sku = widget.getAttribute('data-sku');
      const name = widget.getAttribute('data-name');
      const url = `https://widget.trustpilot.com/data/jsonld/business-unit/${businessunitId}/product-imported?sku=${sku}&numberOfReviews=10&productName=${name}&language=en&templateId=${templateId}`;

      fetch(url).then(response => response.json()).then(response => {
        if(response && response.review && response.review.length) {
          widgetContainer.classList.add('has-review');
          if(response.review.length < 2) {
            widgetContainer.classList.add('small-review');
          }
        }
      });
    }
  });
</script>
<!-- End TrustBox widget -->
{% schema %}
	{
		"name": "Trustpilot Reviews",
		"class": "section",
		"settings": [
		],
		"presets": [
			{
				"name": "Trustpilot Reviews",
				"category": "Product Page"
			}
		]
	}
{% endschema %}
